.row {
  display: flex;
  flex-direction: column;
}

.circle {
  display: flex;
  border: 2px dotted #2e3436;
  flex-direction: column;
  justify-content: space-around;
  width: 185px;
  height: 185px;
  text-align: center;
  min-height: 100px;
  border-radius: 50%;
  align-items: center;
}

.gaugeBackgroundGreen {
  padding: 40px;
  border-radius: 50%;
  display: inline-block;
  background-image: radial-gradient(#282c34, #282c34, #282c34, lime, green);
}

.gaugeBackgroundYellow {
  padding: 40px;
  border-radius: 50%;
  display: inline-block;
  background-image: radial-gradient(
    #282c34,
    #282c34,
    #282c34,
    yellowgreen,
    yellow
  );
  opacity: 1;
}

.gaugeBackgroundOrange {
  padding: 40px;
  border-radius: 50%;
  display: inline-block;
  background-image: radial-gradient(
    #282c34,
    #282c34,
    #282c34,
    orangered,
    orange
  );

  opacity: 1;
}

.gaugeBackgroundRed {
  padding: 40px;
  border-radius: 50%;
  display: inline-block;
  background-image: radial-gradient(#282c34, #282c34, #282c34, red, red);
  opacity: 1;
}

.circle > h2 {
  padding: 0px;
  margin: 0px;
}

.circle > h3 {
  padding: 0px;
  margin: 0px;
}
